html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
    color: whitesmoke;
    font-size: 7rem;
    overflow: hidden;
    background: black url("vectorized-text.png") no-repeat center/cover;
    font-family: Georgia, 'Times New Roman', serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    margin: 0 4rem;
}

.line {
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(200, 60, 60);
    margin-bottom: 2rem;
}

span {
    display: inline-block;
    transition-property: transform;
    transition-duration: 3s;
}
div {
    transition-property: transform;
    transition-duration: 3s;
}
